<app-navbar></app-navbar>
<article  >

    <app-percorso [breadcrumbNames]="['Home', 'Inserimento']"></app-percorso>
    
    <div class="it-header-slim-left-zone" >Inserimento <span class="badge bg-primary">Richieste</span></div>
    </article>
    <p></p>


<div class="container text-white">

    <form class="marContenitore" >
    <!-- Prima Riga -->
    <div class="row">
        <div class="col-md-3">
            <label for="numeroTicket">Numero Ticket</label>
            <input type="text" class="form-control" id="numeroTicket" placeholder="Inserisci numero ticket" maxlength="5"
                    (input)="checkNumeroTicket($event)" autocomplete="off">
                <span *ngIf="showErrorNumeroTicket" class="text-light">5 caratteri obbligatori</span>
        </div>



        <div class="col-md-6">
            <label for="oggetto">Oggetto</label>
            <input type="text" class="form-control"
             id="oggetto" placeholder="Inserisci oggetto" autocomplete="off">
        </div>


        <div class="col-md-3">
            <label for="applicativo">Applicativo</label>
            <select id="applicativo" class="form-control custom-select" >
                <option disabled selected hidden value="">- Selezione Applicativo -</option>
                <ng-container *ngFor="let app of applicativo">
                    <option value="{{app.applicativoId}}">
                        {{ app.descApplicativo }}
                    </option>
                </ng-container>


            </select>
        </div>



    </div>
    <!-- 2a Riga -->
    <div class="row">
        <div class="col-md-3">
            <label for="statoRichiestaConsap">Stato Richiesta CONSAP</label>
        
            <select id="statoRichiestaConsap" class="form-control custom-select" >
               <!--  <option value="">- Selezione Stato Richiesta Consap -</option> -->
               <option value="">-</option>
                <option *ngIf="statoRichiestaConsap.length > 0" value="{{ statoRichiestaConsap[0].statoRichiestaConsapId }}">
                    {{ statoRichiestaConsap[0].descStatoRichiestaConsap }}
                </option>
            </select>
        </div>


        <div class="col-md-3">
            <label for="statoRichiestaOs">Stato Richiesta OS</label>
            <select id="statoRichiestaOs" class="form-control custom-select" >
                <option  value="">-</option>
                <option *ngIf="statoRichiestaOs.length > 0" value="{{ statoRichiestaOs[0].statoRichiestaOsId }}">
                    {{ statoRichiestaOs[0].descStatoRichiestaOs }}
                </option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="statoApprovazioneConsap">Stato Approvazione CONSAP</label>
            <select id="statoApprovazioneConsap" class="form-control custom-select" >
                <option  value="">-</option>
                <option *ngIf="statoApprovazioneConsap.length > 0" value="{{ statoApprovazioneConsap[0].statoApprovazioneConsapId }}">
                    {{ statoApprovazioneConsap[0].descStatoApprovazioneConsap }}
                </option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="statoApprovazioneOs">Stato Approvazione OS</label>
            <select id="statoApprovazioneOs" class="form-control custom-select"  >
                <option value="">-</option>
                <option *ngIf="statoApprovazioneOs.length > 0" value="{{ statoApprovazioneOs[0].statoApprovazioneOsId }}">
                    {{ statoApprovazioneOs[0].descStatoApprovazioneOs }}
                </option>
            </select>
        </div>
    </div>
    <!-- 3a Riga -->
    <div class="row">
        <div class="col-md-3">
            <label for="dataCreazione">Data Creazione</label>
            <input type="date" class="form-control" id="dataCreazione" (input)="aggiornaDataCreazione()" >
        </div>
        <div class="col-md-3">
            <label for="dataStimaFinale">Data Stima Fine</label>
            <input type="date" class="form-control" id="dataStimaFinale" [min]="dataCreazione"
           >
        </div>
        <div class="col-md-3">
            <label for="commessaOs">Commessa OS</label>
            <select id="commessaOs" class="form-control custom-select" >
                <option  value="">- Commessa OS -</option>
                <ng-container *ngFor="let com of commessaOs">
                    <option value="{{com.commessaOsId}}">
                        {{ com.codiceCommessaOs }}
                    </option>
                </ng-container>
            </select>
        </div>
        <div class="col-md-3">
            <label for="importo">Importo</label>
            <input type="text" class="form-control" id="importo"
             placeholder="Inserisci importo" oninput="this.value = this.value.replace(/[^0-9.]/g, '')"
             autocomplete="off"
            >
        </div>
    </div>
    <br>
    <div class="btn-example">
        <button type="button" class="btn btn-primary " (click)="openSalva()" >Salva</button>
      </div>
    </form>
</div>

<div class="it-example-modal">
    <div class="modal" tabindex="-1" role="dialog" id="modal1" aria-labelledby="modal1Title" aria-describedby="modal1Description">
       <div class="modal-dialog" role="document">
          <div class="modal-content">
             <div class="modal-header">
                <h2 class="modal-title h5 " id="modal1Title">Confermi Inserimento Richiesta?</h2>
             </div>
             <div class="modal-body">
                <p id="modal1Description">Vuoi confermare l'inserimento della richiesta</p>
                
             </div>
             <div class="modal-footer">
                <button class="btn btn-outline-primary btn-sm" type="button" data-bs-dismiss="modal" (click)="chiudiSalva()">Annulla</button>
                <button class="btn btn-primary btn-sm" type="button" (click)="addRichiesta(); chiudiSalva(); refreshPage()">Conferma</button>
             </div>
          </div>
       </div>
    </div>
 </div>


