<header class="it-header-wrapper">
    <div class="it-header-slim-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="it-header-slim-wrapper-content">
              <a class="d-none d-lg-block navbar-brand" href="#">Consap</a>
              <div class="nav-mobile">
                <nav aria-label="Navigazione secondaria">
                  <a class="it-opener d-lg-none" data-bs-toggle="collapse" href="#menuC1" role="button" aria-expanded="false" aria-controls="menuC1">
                    <span>Ente appartenenza</span>
                    <svg class="icon" aria-hidden="true"><use href="#it-expand"></use></svg>
                  </a>
                  <div class="link-list-wrapper collapse" id="menuC1">
                    <ul class="link-list">
                      <li><a class="dropdown-item list-item" href="#">Link 1</a></li>
                      <li><a class="list-item active" href="#" aria-current="page">Link 2 (Attivo)</a></li>
                    </ul>
                  </div>
                </nav>
              </div>
              <div class="it-header-slim-right-zone">
                <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Selezione lingua: lingua selezionata</span>
                    <span>ITA</span>
                    <svg class="icon d-none d-lg-block"><use href="#it-expand"></use></svg>
                  </a>
                  <div class="dropdown-menu">
                    <div class="row">
                      <div class="col-12">
                        <div class="link-list-wrapper">
                          <ul class="link-list">
                            <li><a class="dropdown-item list-item" href="#"><span>ITA <span class="visually-hidden">selezionata</span></span></a></li>
                            <li><a class="dropdown-item list-item" href="#"><span>ENG</span></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="it-access-top-wrapper">
                  <a class="btn btn-primary btn-sm" href="/login">Accedi</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="it-nav-wrapper">
      <div class="it-header-center-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="it-header-center-content-wrapper">
                <div class="it-brand-wrapper">
                  <a href="#">
                    <svg class="icon" aria-hidden="true"><use href="#it-pa"></use></svg>
                    <div class="it-brand-text">
                      <div class="it-brand-title">CONSAP S.p.A.</div>
                      <div class="it-brand-tagline d-none d-md-block">Tag line dell'Istituzione</div>
                    </div>
                  </a>
                </div>
                <div class="it-right-zone">
                  <div class="it-socials d-none d-md-flex">
                    <span>Seguici su</span>
                    <ul>
                      <li>
                        <a href="#" aria-label="Facebook" target="_blank">
                          <svg class="icon"><use href="#it-facebook"></use></svg>
                        </a>
                      </li>
                      <li>
                        <a href="#" aria-label="Github" target="_blank">
                          <svg class="icon"><use href="#it-github"></use></svg>
                        </a>
                      </li>
                      <li>
                        <a href="#" aria-label="Twitter" target="_blank">
                          <svg class="icon"><use href="#it-twitter"></use></svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="it-header-navbar-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!--start nav-->
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>


  <!-- inizio contenuto -->

  <section class="it-hero-wrapper it-dark it-overlay">
    <!-- - img-->
    <div class="img-responsive-wrapper">
      <div class="img-responsive">
          <div class="img-wrapper"><img src="https://www.studiochianca.it/public/Blog/Mutuo_Garanzia_Consap.jpg" title="titolo immagine" alt="descrizione immagine"></div>
      </div>
    </div>
    <!-- - texts-->
    <div class="container">
      <div class="row">
          <div class="col-12">
            <div class="it-hero-text-wrapper bg-dark">
                <span class="it-Categoria">Categoria</span>
                <h2>Heading lorem ipsum dolor sit amet, consetetur sadipscing.</h2>
                <p class="d-none d-lg-block">Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. Dictum sit amet justo donec enim diam vulputate ut. Eu nisl nunc mi ipsum faucibus.</p>
                <div class="it-btn-container"><a class="btn btn-sm btn-secondary" href="#">Label CTA</a></div>
            </div>
          </div>
      </div>
    </div>
  </section>
