article {
    font-size: 35px; /* Cambia la dimensione del testo */
    margin-bottom: 40px; /* Aggiunge margine inferiore */
    margin-left: 20px;
    margin-top: 10px;
  }
  .it-hero-wrapper {
    position: relative;
    background-image: url('https://img.gruppomol.it/articoli/image/assicurazioni/1200x800_icone_assicurazione.jpg');
    background-size: cover;
    background-position: center;
    height: 300px; /* Regola l'altezza dell'elemento secondo necessità */
  }
  
  
  .img-responsive-wrapper {
    position: absolute;
    z-index: -1;
  }
  .table {
    opacity: 0.9;
   /*  margin-left: 20px; 
    margin-right: 40px; */
  }

  .argomento{
    opacity: 0.9;
  }
 

.btn-secondary {
  background-color: #ffffff; /* Colore di sfondo per il bottone Ripristina */
  color: #28a745; /* Colore del testo per il bottone Ripristina */
  border-color: #28a745; /* Colore del bordo per il bottone Ripristina */
}

.btn-secondary:hover {
  background-color: #f8f9fa; /* Cambia il colore di sfondo al passaggio del mouse */
}

.scrittaVerde{
  color: #28a745;
}

.dropdown{
   
  background-color: #00402B; 
 
}
.dropdown-menu2 {
  
  background-color: #00402B; 
} 

.dropdown-menu2 ul,
.dropdown-menu2 li {
  list-style: none;
  padding: 0;
  margin: 0;
} 

 .dropdown-menu2 .link-list-wrapper {
  padding: 10px;
}

.dropdown-menu2 .link-list-wrapper li {
  margin-bottom: 5px;
}

.dropdown-menu2 .link-list-wrapper li:last-child {
  margin-bottom: 0;
}

.dropdown-menu2 .link-list-wrapper .dropdown-item {
  color: #fff;
}

.dropdown-menu2 .link-list-wrapper .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.dropdown-menu2 .link-list-wrapper .dropdown-item:focus,
.dropdown-menu2 .link-list-wrapper .dropdown-item.active {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
} 



.centrato {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-spinner {
  width: 100px; /* Regola la larghezza dello spinner */
  height: 100px; /* Regola l'altezza dello spinner */
  justify-content: center;
  align-items: center;
  /* Aggiungi qui altri stili dello spinner se necessario */
}
 
.pagination-wrapper {
   display: flex; 
  justify-content: center; 
 /*  align-items: center; */
  /* margin-top: 20px; */
}

.cursore {
  cursor: pointer;
}
 
article {
  font-size: 35px; /* Cambia la dimensione del testo */
  margin-bottom: 40px; /* Aggiunge margine inferiore */
 
  text-align: center;

  margin-top: 10px;
}

.icon-expand::before {
  content: '\f065'; /* Codice dell'icona "expand" di Font Awesome */
  font-family: 'Font Awesome'; /* Famiglia di caratteri di Font Awesome */
  margin-right: 5px; /* Spazio tra l'icona e il testo */
}


